doctype html
html
  include layout/head.jade
body
  include layout/header.jade
  include layout/services.jade
  include layout/welcome.jade
  include layout/team.jade
  include layout/offers.jade
  include layout/contact.jade
  include layout/footer.jade
  script(src="assets/js/jquery.js")
  script(src="assets/js/bootstrap.min.js")
  script(src="assets/js/main.js")
