include ../helpers/mixins.jade
footer
  .container-fluid
    .row
      .col-sm-4
        img(src="assets/images/w-logo.jpg")
      .col-sm-4
        p COPYRIGHT 2016 WILLY LAB LIMITED
        p DESIGNED AND DEVELOPED  BY 
          span 
            a(href="") WILLYLAB
      .col-sm-4
        a(href="").glyphicon.glyphicon-facebook