include ../helpers/mixins.jade
header#header_area
  .wt-xs.allh
    +nav("imagen", "dropdown_menu")
      +nav_item( "index.html", "active" ) Home
      +nav_item( "about.html" ) Services
      +nav_item( "contact.html" ) About
      +nav_item( "contact.html" ) Portfolio
      +nav_item( "contact.html" ) Team
      +nav_item( "contact.html" ) Testimonial
      +nav_item( "contact.html" ) Pricing
      +nav_item( "contact.html" ) Contact
    .container-fluid.allh
      .row.allh.v-center
        .col-xs-12
          .text-center#maquinas
          h1.text-center It's nice to meet you 
