include ../helpers/mixins.jade
section
  .container-fluid
    .row
      .col-xs-4
        h1 Our Best
        h1 Offers
    .row
      +card
      +card
      +card
      +card                        
