include ../helpers/mixins.jade
section#welcome_area
  .wt-xs
    .container-fluid
      .row
        .col-xs-12.col-sm-6.col-md-6
          .row
            .col-xs-4
              h1 Welcome To 
              h1 W Studio
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur tempora dignissimos sint aperiam consequuntur! Ut temporibus quod quas, quae velit libero sit sunt accusamus? Quidem officiis id tenetur quos placeat inventore provident explicabo, harum sapiente dolores quam facere maxime ipsa voluptatum suscipit eligendi dolorum voluptatibus accusantium ratione itaque ad reprehenderit quae. Possimus at necessitatibus reiciendis aut tenetur, laudantium excepturi non.
        .col-xs-12.col-sm-6.col-md-6
          iframe(src="assets/images/video.mp4" width="100%" height="300px")

